<div routerLink="/dashboard"><---</div>
<h1>Zugewiesene Zahlungen</h1>
<table>
    <thead>
        <tr>
            <th>Verwendungszweck</th>
            <th>Überweisungsdatum</th>
            <th>Betrag</th>
            <th>Zugeordnete Rechnungen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matches">
            <td>{{match.transaction.usage}}</td>
            <td>{{match.transaction.transactionDate}}</td>
            <td>{{match.transaction.amount}}</td>
            <td><app-bills [bills]="[match.bill]"></app-bills></td>
        </tr>
    </tbody>
</table>