<h1>Übrige Zahlungen</h1>
<div routerLink="/dashboard"><h2><---</h2></div>
<table>
    <thead>
        <tr>
            <th (click)="changeComparer('amount')">Betrag</th>
            <th (click)="changeComparer('payer')">Kontoinhaber</th>
            <th (click)="changeComparer('usage')">Verwendungszweck</th>
            <th (click)="changeComparer('date')">Buchungsdatum</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of matcher.matches.remainingTransactions.sort(comparer), index as i">
            <td class="right" routerLink="/assignBills/{{i}}">{{transaction.amount}}</td>
            <td class="left" routerLink="/assignBills/{{i}}">{{transaction.payer}}</td>
            <td class="left" routerLink="/assignBills/{{i}}">{{transaction.usage}}</td>
            <td class="center" routerLink="/assignBills/{{i}}">{{transaction.transactionDate}}</td>
        </tr>
    </tbody>
</table>