table {
    border: 1px solid black;
    background-color: lightsteelblue;
}

tbody > tr:nth-child(even) {
    background-color: lightsteelblue;
}

tbody > tr:nth-child(odd) {
    background-color: lightslategray;
}