.header {
    display: flex;
    flex-direction: row;
}

.headerField {
    padding: 5px;
    border-left: 1px solid black;
}

.headerField:first-of-type {
    border-left: none;
}

.transaction {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.parameter {
    padding: 5px;
}

.selected {
    background-color: #0000aa99;
}

.entry {
    cursor: pointer;
}