.header {
    display: flex;
    flex-direction: row;
}

.headerField {
    padding: 5px;
    border-left: 1px solid black;
}

.headerField:first-of-type {
    border-left: none;
}

.entry {
    display: flex;
    flex-direction: row;
}

.parameter {
    padding: 5px;
}

.selected {
    background-color: #0000aa99;
}