<div class="back" routerLink="/openTransactions"><----</div>
<h1>Zahlung</h1>
<div class="transaction">
    <div class="parameter">
        <span class="headerField">Betrag: </span><span>{{transaction.amount}}</span>
    </div>
    <div class="parameter">
        <span class="headerField">Kontoinhaber: </span><span>{{transaction.payer}}</span>
    </div>
    <div class="parameter">
        <span class="headerField">Verwendungszweck: </span><span>{{transaction.usage}}</span>
    </div>
    <div class="parameter">
        <span class="headerField">Buchungsdatum: </span><span>{{transaction.transactionDate}}</span>
    </div>
</div>
<label for="commentBox">Kommentar: </label>
<input #commentBox id="commentBox" placeholder="Keine passende Rechnung"/>
<button class="noMatch"
    (click)="commentBox.value !== '' ? removeTransaction(commentBox.value) : removeTransaction(commentBox.placeholder)">
    Keine passende Rechnung
</button>
<div class="remaining">Verbleibende Zahlungen: {{matcher.matches.remainingTransactions.length}}</div>
<h2>Offene Rechnungen</h2>
<button class="assign" [disabled]="selectedBills.length === 0" (click)="assignBills()">Rechnungen Zuweisen</button>
<div class="header">
    <span class="headerField" (click)="changeComparer('rnr')">Rechnungsnummer</span>
    <span class="headerField" (click)="changeComparer('amount')">Betrag</span>
    <span class="headerField" (click)="changeComparer('name')">Name</span>
    <span class="headerField">Datum</span>
</div>

<h3>Passender Betrag</h3>
<div class="Amount">
    <div *ngFor="let bill of matcher.matches.remainingBills.filter(filterForAmount).sort(comparer)">
        <div class="entry" [class.selected]="isSelected(bill)" (click)="selectBill(bill)">
            <span class="parameter">
                {{bill.id}}
            </span>
            <span class="parameter">
                {{bill.amount}}
            </span>
            <span class="parameter">
                {{bill.lastName}}, {{bill.firstName}}
            </span>
            <span class="parameter">
                {{bill.date}}
            </span>
        </div>
    </div>
</div>

<h3>Passender Kontoinhaber</h3>
<div class="Payer">
    <div *ngFor="let bill of matcher.matches.remainingBills.filter(filterForPayer).sort(comparer)">
        <div class="entry" [class.selected]="isSelected(bill)" (click)="selectBill(bill)">
            <span class="parameter">
                {{bill.id}}
            </span>
            <span class="parameter">
                {{bill.amount}}
            </span>
            <span class="parameter">
                {{bill.lastName}}, {{bill.firstName}}
            </span>
            <span class="parameter">
                {{bill.date}}
            </span>
        </div>
    </div>
</div>

<h3>Rechnungsnummer in Verwendungszweck</h3>
<div class="BillId">
    <div *ngFor="let bill of matcher.matches.remainingBills.filter(filterForBillId).sort(comparer)">
        <div class="entry" [class.selected]="isSelected(bill)" (click)="selectBill(bill)">
            <span class="parameter">
                {{bill.id}}
            </span>
            <span class="parameter">
                {{bill.amount}}
            </span>
            <span class="parameter">
                {{bill.lastName}}, {{bill.firstName}}
            </span>
            <span class="parameter">
                {{bill.date}}
            </span>
        </div>
    </div>
</div>