<div class="back" routerLink="/openTransactions"><----</div>
<h1>Zahlung</h1>
<div class="transaction">
    <div class="header">
        <div class="headerField">Betrag</div>
        <div class="headerField">Kontoinhaber</div>
        <div class="headerField">Verwendungszweck</div>
        <div class="headerField">Buchungsdatum</div>
    </div>
    <div class="entry">
        <div class="parameter">
            {{transaction.amount}}
        </div>
        <div class="parameter">
            {{transaction.payer}}
        </div>
        <div class="parameter">
            {{transaction.usage}}
        </div>
        <div class="parameter">
            {{transaction.transactionDate}}
        </div>
    </div>
    <label for="commentBox">Kommentar: </label>
    <input #commentBox id="commentBox" placeholder="Keine passende Rechnung"/>
    <button class="noMatch"
        (click)="commentBox.value !== '' ? removeTransaction(commentBox.value) : removeTransaction(commentBox.placeholder)">
        Keine passende Rechnung
    </button>
    <div class="remaining">Verbleibende Zahlungen: {{matcher.matches.remainingTransactions.length}}</div>
</div>
<h2>Offene Rechnungen</h2>
<h3>Mögliche Filter</h3>
<div class="filters">
    <div class="filter" (click)="filterFor('amount');">Betrag</div>
    <div class="filter" (click)="filterFor('payer');">Kontoinhaber</div>
    <div class="filter" (click)="filterFor('rnr');">Rechnungsnummer in Verwendungszweck</div>
</div>
<div>Aktiver Filter: {{activeFilter}}</div>
<button class="clear" (click)="clearFilter()">Filter Zurücksetzen</button>
<button class="assign" [disabled]="selectedBills.length === 0" (click)="assignBills()">Rechnungen Zuweisen</button>
<div class="Bills">
    <div class="header">
        <div class="headerField" (click)="changeComparer('rnr')">Rechnungsnummer</div>
        <div class="headerField" (click)="changeComparer('amount')">Betrag</div>
        <div class="headerField" (click)="changeComparer('name')">Name</div>
        <div class="headerField">Datum</div>
    </div>
    <div *ngFor="let bill of billsDisplayed.sort(comparer), index as i">
        <div class="entry" [class.selected]="isSelected(i)" (click)="selectBill(i)">
            <div class="parameter">
                {{bill.id}}
            </div>
            <div class="parameter">
                {{bill.amount}}
            </div>
            <div class="parameter">
                {{bill.lastName}}, {{bill.firstName}}
            </div>
            <div class="parameter">
                {{bill.date}}
            </div>
        </div>
    </div>
</div>