<h1>Überblick</h1>
<div routerLink="/initialBills">Rechnungen Gesamt: {{matcher.matches.initialBills.length}}</div>
<div routerLink="/initialTransactions">Zahlungen Gesamt: {{matcher.matches.initialTransactions.length}}</div>
<div routerLink="/assignedTransactions">Zugewiesene Zahlungen: {{matcher.matches.matches.length}}</div>
<div routerLink="/filteredTransactions">Aussortierte Zahlungen: {{matcher.matches.filteredTransactions.length}}</div>
<div routerLink="/notMatchedTransactions">Nicht zugewiesene Zahlungen: {{matcher.matches.unassignableTransactions.length}}</div>
<div routerLink="/openBills">Übrige Rechnungen: {{matcher.matches.remainingBills.length}}</div>
<div routerLink="/openTransactions">Manuell zu prüfende Zahlungen: {{matcher.matches.remainingTransactions.length}}</div>
<button class="save" (click)="storeTables()">Save</button>