<h1>{{title}}</h1>
<div class="board">
    <app-card routerLink="/openTransactions" [title]="'Zahlungen Manuell zuweisen'" [totalAmount]="matcher.getOpenTransactions().length"></app-card>
    <app-card routerLink="/initialBills" [title]="'Alle Rechnungen'" [totalAmount]="matcher.getInitialBills().length"></app-card>
    <app-card routerLink="/initialTransactions" [title]="'Alle Zahlungen'" [totalAmount]="matcher.getInitialTransactions().length"></app-card>
    <app-card routerLink="/assignedTransactions" [title]="'Zugeordnete Zahlungen'" [totalAmount]="matcher.getValidMatches().length"></app-card>
    <app-card routerLink="/filteredTransactions" [title]="'Ignorierte Zahlungen'" [totalAmount]="matcher.getIgnoredTransactions().length"></app-card>
    <app-card routerLink="/notMatchedTransactions" [title]="'Nicht zuzuordnende Zahlungen'" [totalAmount]="matcher.getUnassignableTransactions().length"></app-card>
    <app-card routerLink="/openBills" [title]="'Offene Rechnungen'" [totalAmount]="matcher.getOpenBills().length"></app-card>
    <app-card [title]="buttonText" class="save" (click)="storeTables()">Save</app-card>
</div>